[submodule "website"]
	path = website
	url = https://github.com/mattoznav/templates-wardrobe-website.git
[submodule "admin"]
	path = admin
	url = https://github.com/mattoznav/templates-wardrobe-admin.git
[submodule "customer-app"]
	path = customer-app
	url = https://github.com/mattoznav/templates-wardrobe-customer-app.git
